<div class="container mt-5">
    <div class="card">
        <div class="d-flex justify-content-between p-3" *ngIf="!isQuizCompleted">
            <div class="image">
                <img width="50" height="50" src="https://img.icons8.com/color-glass/48/quiz.png" alt="quiz"/>
            </div>

            <div class="quiz-header">
                <h4>Angular and TypeScript Quiz</h4>
                <span class="italic;">Welcome {{name}}</span>
            </div>

        </div>

        <ng-container *ngIf="!isQuizCompleted">
            <div class="d-flex justify-content-around py-3" >
                <div class="score">
                    <h5>{{points}} points</h5>
                </div>
                <div class="question-remain">
                    <span class="italic;">Question {{currentQuestion+1}} of 9</span>
                </div>
                <div class="timer">
                    {{counter}} sec⏱️ 
                </div>  
            </div>

            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-success" [ngStyle] = "{'width':progress+'%'}"></div>
            </div>
            <div class="question">
                <div class="card">
                    <h3>{{questionList[currentQuestion]?.questionText}}</h3>
                </div>
            </div>

            <div class="options">
                <ol *ngFor="let option of questionList[currentQuestion]?.options">
                  <li (click)="answer(currentQuestion+1,option)" [class.answered]="option.answered" [class.correct]="option.answered && option.correct" [class.incorrect]="option.answered && !option.correct" [attr.disabled]="option.answered">
                    <div appChangeBg [isCorrect]="option.correct" class="card">
                      {{option.text}}
                    </div>
                  </li>
                </ol>
              </div>

            <div class="d-flex justify-content-between">
                <button type="button" [disabled]="currentQuestion===0" class="btn" (click) ="previousQuestion()" title="Previous Question">
                    <i class="fa text-primary fa-chevron-left fa-3x" aria-hidden="true"></i>
                    Previous Question
                </button>
                <button type="button" [disabled]="currentQuestion===questionList.length-1" class="btn" (click) ="nextQuestion()" title="Next Question">
                    Next Question
                    <i class="fa text-primary fa-chevron-right fa-3x" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn" (click) ="resetQuiz()" title="Reset Quiz">
                    Reset Quiz
                    <i class="fa text-primary fa-refresh fa-3x" aria-hidden="true"></i>
                </button>
                </div>
        </ng-container>

        <ng-container *ngIf="isQuizCompleted">
            <div class="row d-flex justify-content-between">
                <img class="resizeimg img-fluid col-sm-12 mx-auto" src="https://icon-library.com/images/celebration-icon-png/celebration-icon-png-7.jpg" alt="">

                <div class="result text-center col-md-6 col-sm-12">
                    <h3>Congratulations! <br> You have completed the quiz. <br> <br> Results:</h3>
                    <p>Questions Attempted : {{correctAnswer+incorrectAnswer}}</p>
                    <p>Correct Answers : {{correctAnswer}}</p>
                    <p>Wrong Answers : {{incorrectAnswer}}</p>
                    <p>Total Score: {{points}}</p>
                </div>
            </div>
        </ng-container>
   </div>
</div>