@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
.cursive {
  font-family: 'Calligraffitti', cursive;
  font-weight: 700;
  font-size: 3rem;
  position: relative;
  margin-top: 20px;
  text-shadow: -15px 5px 20px #ced0d3;
  letter-spacing: 0.02em;
  color: #ffff00;
  text-shadow:
    3px 3px 0px #6868AC, 
    6px 6px 0px #90B1E0;
}

.text {
	font-family: "Yanone Kaffeesatz";
	font-size: 30px;
	display: flex;
	position: relative;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
  -webkit-user-select: none;
  user-select: none;

	.wrapper {
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 3px;
		.letter {
			transition: ease-out 1s;
			transform: translateY(40%);
		}
		.shadow {
			transform: scale(1, -1);
			color: #999;
			transition: ease-in 5s, ease-out 5s;
		}
		&:hover {
			.letter {
				transform: translateY(-200%);
			}
			.shadow {
				opacity: 0;
				transform: translateY(200%);
			}
		}
	}
}